extends layout
block content
  .intro-med
    .container
      .row.titular
        .col-sm-12
          h1 ASEO Y HOGAR.
      .row
      -for(var i=0; i<hogar.length; ++i){
        .col-sm-6.item-med
          h4=hogar[i].nombre
          img(src="img/hogar/#{hogar[i].imagen}", width="200")
          p="Descripción: " + hogar[i].descripcion
          strong="$"+hogar[i].precio
          br
          button.cart="Comprar"
      -}
