extends layout
block content
  .intro-med
    .container
      .row.titular
        .col-sm-12
          h1 LISTADO DE MEDICAMENTOS.
      .row
      -for(var i=0; i<medicamentos.length; ++i){
        .col-sm-6.item-med
          h4=medicamentos[i].nombre
          img(src="img/medicamentos/#{medicamentos[i].imagen}", width="200")
          p="Descripción: " + medicamentos[i].descripcion
          strong="$"+medicamentos[i].precio
          br
          button.cart="Comprar"
      -}
